<form action="/links" method="post" >
  URL
  <input type="text" name="url">
  TITLE
  <input type="text" name="title">
  TAG
  <input type="text" name="tags">

  <button type="submit" value="Create link">Create Link</button>
</form>
